<html>
<head>
<title>
The Scholars English junior college
</title>
<style type="text/css">

body{
background-repeat:no-repeat;
margin:auto;
background-size:100%;
}




.login {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
opacity:;
height:0px;
width:100%;
transition:All 2s ease-in-out;
visibility:hidden;
overflow:hidden;
}

.login div{
float:left;
}


.btn {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-top:;
margin-left:700px;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
}

.loginbtn {
text-decoration:none;
color:darkgrey;
display: hidden;
}

.logintext {
background-color:;
height:260px;
width:30%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.text {
margin-left:25px;
margin-bottom:35px;
}


.loginform {
background-color:;
height:260px;
width:60%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.loginform div {

float:left;

}

.teacher {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:10px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.student {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:15px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.logform {
margin-left:70px;
margin-top:30px;
}

.logformimg {
margin-left:70px;
margin-top:30px;
}


.logform1 {
margin-left:20px;
margin-top:10px;
}

.logform2{
margin-left:20px;
margin-top:10px;

}
#normal {

background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-left:800px;
margin-top:50px;
color:darkgrey;

}

#other {

transition:All 2s ease-in-out;



}
/*here the login code finish*/

/*Here's the college name starts*/

.men {

background-color:rgb(128,0,0);
height:50px;
width:100%;
margin-top:-20px;
opacity:;
}

.men div{

float:left;


}

.icon {
background-color:rgb(128,0,0);
color:rgb(255,255,255);
height:;
width:100%;
font-size:25px;
margin-top:40px;
text-align:center;
}


#menu {
    top: ;
    left: 0px;
background-color:rgb(128,0,0);
position:relative;
height:60px;
width:100%;
margin-top:px;
}




#menubar li {
list-style:none;
float:left;
padding:15px;
width:150px;
}

#menubar li a {
text-decoration:none;
color:rgb(255,255,255);

}

.icon {
font-size:30px;


text-align:center;
}


.clgicon {
height: 80px;
width: 80px;
margin-top:-64px;
margin-left:150px;

}


.iconcolor {
height: 20px;
width: 100%;
background-color:rgb(128,0,0);
border:0px;
border-color:rgb(128,0,0);

}
/*Here menu overs*/




.roundname {

height:300px;
width:100%;
margin-left:13px;
}


.roundname div{
transition:All 1s;
height:170px;
width:170px;
float:left;
background-color:rgb(54,54,54);
color:rgb(255,255,255);
color:white;
margin:35px;
margin-top:13px;
border-radius:100%;
}

.roundname p{

text-align:center;
margin-top:40%;
font-size:22px;
}



.roundname div:hover {
height:188px;
width:188px;
background-color:green;
box-shadow:10px white insert;
}






.box1 {
background-color:rgb(54,54,54);
height:0px;
width:100%;
margin-top:10px;
color:rgb(255,255,255);
overflow:hidden;
transition:All 2s;
}

.box1 div {

float:left;

}


.box1vid {

height:280px;
width:500px;
}

.box1vid video{
height:280px;
width:500px;
margin-top:35px;
margin-left:25px;

}

.box1text {
margin-left:55px;
margin-top:35px;
}

.box1text h1 {
font-size:30px;

}

.box1text p {
font-size:20px;

}





.box2 {
background-color:rgb(54,54,54);
height:0px;
width:100%;
margin-top:0px;
color:rgb(255,255,255);
overflow:hidden;
transition:All 2s;
}

.box2 div {

float:left;

}


.box2vid {

height:280px;
width:500px;
}

.box2vid video{
height:280px;
width:500px;
margin-top:35px;
margin-left:25px;

}

.box2text {
margin-left:55px;
margin-top:35px;
}

.box2text h1 {
font-size:30px;

}

.box2text p {
font-size:20px;

}





.box3 {
background-color:rgb(54,54,54);
height:0px;
width:100%;
margin-top:0px;
color:rgb(255,255,255);
overflow:hidden;
transition:All 2s;
}

.box3 div {

float:left;

}


.box3vid {

height:280px;
width:500px;
}

.box3vid video{
height:280px;
width:500px;
margin-top:35px;
margin-left:25px;

}

.box3text {
margin-left:55px;
margin-top:35px;
}

.box3text h1 {
font-size:30px;

}

.box3text p {
font-size:20px;

}




.box4 {
background-color:rgb(54,54,54);
height:0px;
width:100%;
margin-top:0px;
color:rgb(255,255,255);
overflow:hidden;
transition:All 2s;
}

.box4 div {

float:left;

}


.box4vid {

height:280px;
width:500px;
}

.box4vid video{
height:280px;
width:500px;
margin-top:35px;
margin-left:25px;

}

.box4text {
margin-left:55px;
margin-top:35px;
}

.box4text h1 {
font-size:30px;

}

.box4text p {
font-size:20px;

}



footer img{
margin-top:15px;
padding:10px;



}

footer {
color:rgb(255,255,255);
background-color:rgb(54,54,54);
height:100px;
width:100%;
margin-top:300px;
}

</style>
</head>
<body>

<script type="text/javascript">

var bleep=new Audio();

bleep.src="md.mp3";


var bleep1=new Audio();

bleep1.src="md.mp3";


var bleep2=new Audio();

bleep2.src="md.mp3";

var bleep2=new Audio();

bleep2.src="md.mp3";

var bleep3=new Audio();

bleep3.src="md.mp3";

var bleep4=new Audio();

bleep4.src="md.mp3";




var bleep5=new Audio();

bleep5.src="md.mp3";


 function login(){
 
   document.getElementById("login").style.height="300px";
   document.getElementById("login").style.visibility="visible";
   document.getElementById("btn").style.visibility="hidden";
   document.getElementById("other").style.marginTop="300px"
}

function goup(){

document.getElementById("login").style.height="0px";
document.getElementById("login").style.visibility="hidden";
document.getElementById("btn").style.visibility="visible";
   document.getElementById("other").style.marginTop="0px"
}



function fresh(){

   document.getElementById("box1").style.height="350px";

   document.getElementById("box2").style.height="0px";

   document.getElementById("box3").style.height="0px";
   
   document.getElementById("box4").style.height="0px";
   
         document.getElementById("d1").style.backgroundColor="green";
               document.getElementById("d2").style.backgroundColor="rgb(54,54,54)";
                     document.getElementById("d3").style.backgroundColor="rgb(54,54,54)";
                           document.getElementById("d4").style.backgroundColor="rgb(54,54,54)";
         
         
         
}



function indep(){

   document.getElementById("box1").style.height="0px";

   document.getElementById("box2").style.height="350px";

   document.getElementById("box3").style.height="0px";
   
   document.getElementById("box4").style.height="0px";
   
   document.getElementById("d1").style.backgroundColor="rgb(54,54,54)";
         document.getElementById("d2").style.backgroundColor="green";
               document.getElementById("d3").style.backgroundColor="rgb(54,54,54)";
                     document.getElementById("d4").style.backgroundColor="rgb(54,54,54)";
}

function anual(){

   document.getElementById("box1").style.height="0px";

   document.getElementById("box2").style.height="0px";

   document.getElementById("box3").style.height="350px";
   
   document.getElementById("box4").style.height="0px";
   
   document.getElementById("d1").style.backgroundColor="rgb(54,54,54)";
         document.getElementById("d2").style.backgroundColor="rgb(54,54,54)";
               document.getElementById("d3").style.backgroundColor="green";
                     document.getElementById("d4").style.backgroundColor="rgb(54,54,54)";
}


function fare(){

   document.getElementById("box1").style.height="0px";

   document.getElementById("box2").style.height="0px";

   document.getElementById("box3").style.height="0px";
   
   document.getElementById("box4").style.height="350px";
   
   document.getElementById("d1").style.backgroundColor="rgb(54,54,54)";
         document.getElementById("d2").style.backgroundColor="rgb(54,54,54)";
               document.getElementById("d3").style.backgroundColor="rgb(54,54,54)";
                     document.getElementById("d4").style.backgroundColor="green";
}


</script>


<div class="login" id="login" >

<div class="logintext" id="logintext" >
<font color="darkgrey" size="+1" >
<p class="text" id="text" >
      We will update the information soon....
</p>



</font></center>

</div>

<div class="loginform" id="loginform" >

<div class="teacher" id="teacher" >

<img src="login.png" class="logform" id="logform" height="50px" width="50px">
<form type="get" class="logform1" id="logform1" >

<input type="text" name="t1"  placeholder="Enter teacher username" >
<input type="password" name="p1" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c1" ><font color="darkgrey" >remember me</font>
<br>
<input type="submit" >

</form>
</div>

<div class="student" id="student" >

<img src="login.png" class="logformimg" id="logformimg" height="50px" width="50px">

<form type="get" class="logform2" id="logform2" >

<input type="text" name="t2"  placeholder="Enter student username" >
<input type="password" name="p2" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c2" ><font color="darkgrey">remember me</font>
<br>
<input type="submit" >

</form>

</div>




</div>



<span onclick="goup()" onmousedown="bleep1.play()" id="normal" > click for hide</span>
</div>

<br>
<div class="btn" id="btn" style="visibility: hidden;" >
<center><a href="#" onclick="login()" class="loginbtn" id="loginbtn" onmousedown="bleep.play()"><b><i>Click for Login</i></b></a></center>

</div>

<div id="other" >

<div class="iconcolor" >
<div class="men" id="men" >

<div class="icon" id="icon" >


The Scholars English Junior College

</div>

<div class="iconcolor" >
            <img src="logo.png" class="clgicon">
</div>


<div class="menuba" id="menuba" >

</div>



<div id="menu" >
            <ol id="menubar" >
                  <li><a href="/" onmousedown="bleep.play()">Home</a></li>
                  <li><a href="/teachers" onmousedown="bleep.play()">Teachers</a> </li>
                  <li><a href="/involved" onmousedown="bleep.play()">Get Involved</a></li>
                  <li><a href="/activities" onmousedown="bleep.play()">Activities</a> </li>
                  <li><a href="/contact" onmousedown="bleep.play()">Contact.Us</a> </li>
            </ol>
           </div>
</div>


<center><h1 style="color:rgb(54,54,54); text-decoration:underline;" >Our Activities<br><br>Click below circle's for more detail's</h1></center>




<div class="roundname" >


<div onclick="fresh()" onmousedown="bleep2.play()" id="d1" > <p>Guru pornima festival </p></div>

<div onclick="indep()" onmousedown="bleep3.play()" id="d2" > <p> Independence Day </p> </div>

<div onclick="anual()" onmousedown="bleep4.play()" id="d3" > <p>  Annual day </p></div>

<div onclick="fare()" onmousedown="bleep5.play()" id="d4" > <p> 12th Farewell </p></div>

</div>











<div class="box1" id="box1" >

<div class="box1vid" >

<video src="box1vid.mp4" controls="seeking" autostart="false" controls="play/pause" controls="volume" ></video>

</div>



<div class="box1text" >

<h1>Guru pornima festival</h1>
<p>

      We will update the details soon....

</p>

</div>

</div>








<div class="box2" id="box2" >

<div class="box2vid" >

<video src="box2vid.mp4" controls="seeking" autostart="false" controls="play/pause" controls="volume" ></video>

</div>



<div class="box2text" >

<h1>Independence day</h1>
<p>

      We will update the details soon....

</p>

</div>

</div>








<div class="box3" id="box3" >

<div class="box3vid" >

<video src="box3vid.mp4" controls="seeking" autostart="false" controls="play/pause" controls="volume" ></video>

</div>



<div class="box3text" >

<h1>Annuall day</h1>
<p>

      We will update the details soon....

</p>

</div>

</div>










<div class="box4" id="box4" >

<div class="box4vid" >

<video src="box4vid.mp4" controls="seeking" autostart="false" controls="play/pause" controls="volume" ></video>

</div>



<div class="box4text" >

<h1>Farewell</h1>
<p>

      We will update the details soon....

</p>

</div>

</div>










<footer>
<center>
      &copy;2017-2020 The Scholars English Junior College
      <br>
      <br>
      <a href="https://www.digicard.gq" style="color:aliceblue">Creacted and managed by Nakul Jhunjhunwala</a></center>
  </center>


<center>
<div>
<a href="#" ><img src="social1.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social2.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social3.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social4.jpg" height="30px" width="30px" ></a>
</div>
</center>


</footer>

</div>
</body>
</body>
</html>