<html>
<head>
<title>
The Scholars English junior college
</title>
<style type="text/css">

body{
background-repeat:no-repeat;
margin:auto;
background-size:100%;
}




.login {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
opacity:;
height:0px;
width:100%;
transition:All 2s ease-in-out;
visibility:hidden;
overflow:hidden;
}

.login div{
float:left;
}


.btn {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-top:;
margin-left:700px;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
visibility: hidden;
}

.loginbtn {
text-decoration:none;
color:darkgrey;
}

.logintext {
background-color:;
height:260px;
width:30%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.text {
margin-left:25px;
margin-bottom:35px;
}


.loginform {
background-color:;
height:260px;
width:60%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.loginform div {

float:left;

}

.teacher {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:10px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.student {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:15px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.logform {
margin-left:70px;
margin-top:30px;
}

.logformimg {
margin-left:70px;
margin-top:30px;
}


.logform1 {
margin-left:20px;
margin-top:10px;
}

.logform2{
margin-left:20px;
margin-top:10px;

}
#normal {

background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-left:800px;
margin-top:50px;
color:darkgrey;

}

#other {

transition:All 2s ease-in-out;



}
/*here the login code finish*/

/*Here's the college name starts*/

.men {

background-color:rgb(128,0,0);
height:50px;
width:100%;
margin-top:-20px;
opacity:;
}

.men div{

float:left;


}

.icon {
background-color:rgb(128,0,0);
color:rgb(255,255,255);
height:;
width:100%;
font-size:25px;
margin-top:40px;
text-align:center;
}


#menu {
    top: ;
    left: 0px;
background-color:rgb(128,0,0);
position:relative;
height:60px;
width:100%;
margin-top:px;
}




#menubar li {
list-style:none;
float:left;
padding:15px;
width:150px;
}

#menubar li a {
text-decoration:none;
color:rgb(255,255,255);

}

.icon {
font-size:30px;
margin-top:px;
text-align:center;
}


.clgicon {
height: 80px;
width: 80px;
margin-top:-64px;
margin-left:150px;

}


.iconcolor {
height: 20px;
width: 100%;
background-color:rgb(128,0,0);
border:0px;
border-color:rgb(128,0,0);

}

/*Here menu overs*/



.formb {
height:455px;
width:67%;
margin-top:100px;
background-color:rgba(54,54,54,0.9);
color:rgb(255,255,255);
float:right;
}

.info {
height:455px;
width:30%;
float:left;
margin-top:100px;
background-color:rgba(54,54,54,0.9);
color:rgb(255,255,255);
margin-left:5px;
}


.info p{

margin-left:10px;

}
.info a{

color:rgb(255,255,255);
text-decoration:none;

}

.map {
margin-top:30px;

}



footer img{
margin-top:15px;
padding:10px;



}


footer {
color:rgb(255,255,255);
background-color:rgb(54,54,54);
height:100px;
width:100%;
margin-top:200px;
}

</style>
</head>
<body>

<script type="text/javascript">

var bleep=new Audio();

bleep.src="md.mp3";

 function login(){
 
   document.getElementById("login").style.height="300px";
   document.getElementById("login").style.visibility="visible";
   document.getElementById("btn").style.visibility="hidden";
   document.getElementById("other").style.marginTop="300px"
}

function goup(){

document.getElementById("login").style.height="0px";
document.getElementById("login").style.visibility="hidden";
document.getElementById("btn").style.visibility="visible";
   document.getElementById("other").style.marginTop="0px"
}
</script>


<div class="login" id="login" >

<div class="logintext" id="logintext" >
<font color="darkgrey" size="+1" >
<p class="text" id="text" >
    We will update the information soon....
</p>



</font></center>

</div>

<div class="loginform" id="loginform" >

<div class="teacher" id="teacher" >

<img src="login.png" class="logform" id="logform" height="50px" width="50px">
<form type="get" class="logform1" id="logform1" >

<input type="text" name="t1"  placeholder="Enter teacher username" >
<input type="password" name="p1" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c1" ><font color="darkgrey" >remember me</font>
<br>
<input type="submit" >

</form>
</div>

<div class="student" id="student" >

<img src="login.png" class="logformimg" id="logformimg" height="50px" width="50px">

<form type="get" class="logform2" id="logform2" >

<input type="text" name="t2"  placeholder="Enter student username" >
<input type="password" name="p2" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c2" ><font color="darkgrey">remember me</font>
<br>
<input type="submit" >

</form>

</div>




</div>



<span onclick="goup()" id="normal" onmousedown="bleep.play()"> click for hide</span>
</div>

<br>
<div class="btn" id="btn" >
<center><a href="#" onclick="login()" class="loginbtn" id="loginbtn" onmousedown="bleep.play()"><b><i>Click for Login</i></b></a></center>

</div>

<div id="other" >


<div class="men" id="men" >

<div class="icon" id="icon" >


The Scholars Junior College of Commerce & Science

</div>

<div class="iconcolor" >
            <img src="logo.png" class="clgicon">
</div>


<div class="menuba" id="menuba" >

</div>



<div id="menu" >
        <ol id="menubar" >
            <li><a href="/" onmousedown="bleep.play()">Home</a></li>
           <li><a href="/commerce" onmousedown="bleep.play()">Commerce Admission Form</a> </li>
            <li><a href="/science" onmousedown="bleep.play()"> Science Admission Form</a> </li>  
            <li><a href="/contact" onmousedown="bleep.play()">Contact Us</a> </li>
        </ol>
       </div>
</div>




<div class="addr" >

<div class="info" >

<center><h2>CONTACT US</h2></center>

<p>
The Scholars English High School & Junior College of Commerce & Science
<br>
Sonibai Compound,
<br>
Narpoli,
<br>
Bhiwandi:-421302

<br>
<br>
<br>
Telephone No:- <a href="tel:02522655490"   >02522655490</a>
<br>
<br>
Email:- <a href="mailto:xyz@gmail.com"   >xyz@gmail.com</a>
</p>



</div>


<div class="formb" >
<br>
<br>
<center><h2><a href="/commerce" style="color:aliceblue;">Click here for Commerce Form</a></h2></center>
<br>
<br>
<center><h2><a href="/science" style="color:aliceblue;">Click here for Science Form</a></h2></center>
<center>
</center>

</div>

</div>
<br>
<br>
<br>
<center>

<iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d60254.49319723599!2d73.0598964!3d19.2864612!3m2!1i1024!2i768!4f13.1!2m1!1sThe+scholars+English+bhiwandi!5e0!3m2!1sen!2sin!4v1521390424018" width="100%" height="400" frameborder="3px" style="border:2" allowfullscreen class="map" scrolling="no" ></iframe>







</center>

<footer>
<center>
&copy;The Scholars Junior College of Commerce & Science
<br>
<br>
</center>


</footer>

</div>
</body>
</body>
</html>