<html>
<head>
<title>
The Scholars English junior college
</title>
<style type="text/css">

body{
background-repeat:no-repeat;
margin:auto;
background-size:100%;
}




.login {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
opacity:;
height:0px;
width:100%;
transition:All 2s ease-in-out;
visibility:hidden;
overflow:hidden;
}

.login div{
float:left;
}


.btn {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-top:;
margin-left:700px;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
visibility: hidden;
}

.loginbtn {
text-decoration:none;
color:darkgrey;
}

.logintext {
background-color:;
height:260px;
width:30%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.text {
margin-left:25px;
margin-bottom:35px;
}


.loginform {
background-color:;
height:260px;
width:60%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.loginform div {

float:left;

}

.teacher {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:10px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.student {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:15px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.logform {
margin-left:70px;
margin-top:30px;
}

.logformimg {
margin-left:70px;
margin-top:30px;
}


.logform1 {
margin-left:20px;
margin-top:10px;
}

.logform2{
margin-left:20px;
margin-top:10px;

}
#normal {

background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-left:800px;
margin-top:50px;
color:darkgrey;

}

#other {

transition:All 2s ease-in-out;



}
/*here the login code finish*/

/*Here's the college name starts*/

.men {

background-color:rgb(128,0,0);
height:50px;
width:100%;
margin-top:-20px;
opacity:;
}

.men div{

float:left;


}

.icon {
background-color:rgb(128,0,0);
color:rgb(255,255,255);
height:;
width:100%;
font-size:25px;
margin-top:40px;
text-align:center;
}


#menu {
    top: ;
    left: 0px;
background-color:rgb(128,0,0);
position:relative;
height:60px;
width:100%;
margin-top:px;
}




#menubar li {
list-style:none;
float:left;
padding:15px;
width:150px;
}

#menubar li a {
text-decoration:none;
color:rgb(255,255,255);

}

.icon {
font-size:30px;
margin-top:px;
text-align:center;
}


.clgicon {
height: 80px;
width: 80px;
margin-top:-64px;
margin-left:150px;

}


.iconcolor {
height: 20px;
width: 100%;
background-color:rgb(128,0,0);
border:0px;
border-color:rgb(128,0,0);

}

/*Here menu overs*/



.formb {
height:455px;
width:67%;
margin-top:100px;
background-color:rgba(54,54,54,0.9);
color:rgb(255,255,255);
float:right;
}

.info {
height:455px;
width:30%;
float:left;
margin-top:100px;
background-color:rgba(54,54,54,0.9);
color:rgb(255,255,255);
margin-left:5px;
}


.info p{

margin-left:10px;

}
.info a{

color:rgb(255,255,255);
text-decoration:none;

}

.map {
margin-top:30px;

}



footer img{
margin-top:15px;
padding:10px;



}


footer {
color:rgb(255,255,255);
background-color:rgb(54,54,54);
height:100px;
width:100%;
margin-top:200px;
}

</style>
</head>
<body>

<script type="text/javascript">

var bleep=new Audio();

bleep.src="md.mp3";

 function login(){
 
   document.getElementById("login").style.height="300px";
   document.getElementById("login").style.visibility="visible";
   document.getElementById("btn").style.visibility="hidden";
   document.getElementById("other").style.marginTop="300px"
}

function goup(){

document.getElementById("login").style.height="0px";
document.getElementById("login").style.visibility="hidden";
document.getElementById("btn").style.visibility="visible";
   document.getElementById("other").style.marginTop="0px"
}
</script>


<div class="login" id="login" >

<div class="logintext" id="logintext" >
<font color="darkgrey" size="+1" >
<p class="text" id="text" >
    We will update the information soon....
</p>



</font></center>

</div>

<div class="loginform" id="loginform" >

<div class="teacher" id="teacher" >

<img src="login.png" class="logform" id="logform" height="50px" width="50px">
<form type="get" class="logform1" id="logform1" >

<input type="text" name="t1"  placeholder="Enter teacher username" >
<input type="password" name="p1" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c1" ><font color="darkgrey" >remember me</font>
<br>
<input type="submit" >

</form>
</div>

<div class="student" id="student" >

<img src="login.png" class="logformimg" id="logformimg" height="50px" width="50px">

<form type="get" class="logform2" id="logform2" >

<input type="text" name="t2"  placeholder="Enter student username" >
<input type="password" name="p2" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c2" ><font color="darkgrey">remember me</font>
<br>
<input type="submit" >

</form>

</div>




</div>



<span onclick="goup()" id="normal" onmousedown="bleep.play()"> click for hide</span>
</div>

<br>
<div class="btn" id="btn" >
<center><a href="#" onclick="login()" class="loginbtn" id="loginbtn" onmousedown="bleep.play()"><b><i>Click for Login</i></b></a></center>

</div>

<div id="other" >


<div class="men" id="men" >

<div class="icon" id="icon" >


The Scholars English Junior College

</div>

<div class="iconcolor" >
            <img src="logo.png" class="clgicon">
</div>


<div class="menuba" id="menuba" >

</div>



<div id="menu" >
        <ol id="menubar" >
            <li><a href="/" onmousedown="bleep.play()">Home</a></li>
            <li><a href="/teachers" onmousedown="bleep.play()">Teachers</a> </li>
            <li><a href="/involved" onmousedown="bleep.play()">Get Involved</a></li>
            <li><a href="/activities" onmousedown="bleep.play()">Activities</a> </li>
            <li><a href="/contact" onmousedown="bleep.play()">Contact.Us</a> </li>
        </ol>
       </div>
</div>




<div class="addr" >

<div class="info" >

<center><h2>CONTACT US</h2></center>

<p>
The Scholars English High School & Jr.College
<br>
Sonibai Compound,
<br>
Narpoli,
<br>
Bhiwandi:-421302

<br>
<br>
<br>
Telephone No:- <a href="tel:02522655490"   >02522655490</a>
<br>
<br>
Email:- <a href="mailto:xyz@gmail.com"   >xyz@gmail.com</a>
</p>



</div>


<div class="formb" >
<br>
<br>
<center><h2><a href="/commerce" style="color:aliceblue;">Click here for Commerce Form</a></h2></center>
<br>
<br>
<center><h2><a href="/science" style="color:aliceblue;">Click here for Science Form</a></h2></center>
<center>
<!-- <form>


&nbsp;&nbsp;&nbsp;Enter your name:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nn1" placeholder="your name" required="true"  >
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;Enter your E-mail:-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Em" placeholder="your E-mail"  required="true">
<br>
<br>
&nbsp;&nbsp;&nbsp;Enter your number:- &nbsp;&nbsp;&nbsp;<input type="text" name="nn" placeholder="your number" required="true" >
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter your Address:- &nbsp;&nbsp;&nbsp;<textarea name="t1" cols="25" rows="7"  placeholder="Enter your Address"  ></textarea>
<br>
<br>
Select Your City:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="city" id="City" required='true' nameinerr='City'>
                       <option label="Select city" value="" selected="selected">City</option>
                                <option label="Agartala" value="Agartala">Agartala</option>
                                <option label="Agra" value="Agra">Agra</option>
                                <option label="Ahmedabad" value="Ahmedabad">Ahmedabad</option>
                                <option label="Aizwal" value="Aizwal">Aizwal</option>
                                <option label="Aligarh" value="Aligarh">Aligarh</option>
                                <option label="Allahabad" value="Allahabad">Allahabad</option>
                                <option label="Amritsar" value="Amritsar">Amritsar</option>
                                <option label="Aurangabad" value="Aurangabad">Aurangabad</option>
                                <option label="Bangalore" value="Bangalore">Bangalore</option>
                                <option label="Baroda" value="Baroda">Baroda</option>
                                <option label="Bhopal" value="Bhopal">Bhopal</option>
                                <option label="Bhubaneshwar" value="Bhubaneshwar">Bhubaneshwar</option>
                                <option label="Bokaro" value="Bokaro">Bokaro</option>
                                <option label="Chandigarh" value="Chandigarh">Chandigarh</option>
                                <option label="Chennai" value="Chennai">Chennai</option>
                                <option label="Cochin" value="Cochin">Cochin</option>
                                <option label="Coimbatore" value="Coimbatore">Coimbatore</option>
                                <option label="Cuttack" value="Cuttack">Cuttack</option>
                                <option label="Dehradun" value="Dehradun">Dehradun</option>
                                <option label="Delhi" value="Delhi">Delhi</option>
                                <option label="Dimapur" value="Dimapur">Dimapur</option>
                                <option label="Durgapur" value="Durgapur">Durgapur</option>
                                <option label="Faridabad" value="Faridabad">Faridabad</option>
                                <option label="Gandhinagar" value="Gandhinagar">Gandhinagar</option>
                                <option label="Ghaziabad" value="Ghaziabad">Ghaziabad</option>
                                <option label="Goa" value="Goa">Goa</option>
                                <option label="Gurgaon" value="Gurgaon">Gurgaon</option>
                                <option label="Guwahati" value="Guwahati">Guwahati</option>
                                <option label="Gwalior" value="Gwalior">Gwalior</option>
                                <option label="Hyderabad" value="Hyderabad">Hyderabad</option>
                                <option label="Imphal" value="Imphal">Imphal</option>
                                <option label="Indore" value="Indore">Indore</option>
                                <option label="Jabalpur" value="Jabalpur">Jabalpur</option>
                                <option label="Jaipur" value="Jaipur">Jaipur</option>
                                <option label="Jammu" value="Jammu">Jammu</option>
                                <option label="Jamnagar" value="Jamnagar">Jamnagar</option>
                                <option label="Jamshedpur" value="Jamshedpur">Jamshedpur</option>
                                <option label="Jodhpur" value="Jodhpur">Jodhpur</option>
                                <option label="Jullundhar" value="Jullundhar">Jullundhar</option>
                                <option label="Kanpur" value="Kanpur">Kanpur</option>
                                <option label="Kolhapur" value="Kolhapur">Kolhapur</option>
                                <option label="Kolkata" value="Kolkata">Kolkata</option>
                                <option label="Lucknow" value="Lucknow">Lucknow</option>
                                <option label="Ludhiana" value="Ludhiana">Ludhiana</option>
                                <option label="Madurai" value="Madurai">Madurai</option>
                                <option label="Mangalore" value="Mangalore">Mangalore</option>
                                <option label="Margaon" value="Margaon">Margaon</option>
                                <option label="Mumbai" value="Mumbai">Mumbai</option>
                                <option label="Mysore" value="Mysore">Mysore</option>
                                <option label="Nagpur" value="Nagpur">Nagpur</option>
                                <option label="Nasik" value="Nasik">Nasik</option>
                                <option label="NOIDA" value="NOIDA">NOIDA</option>
                                <option label="Patna" value="Patna">Patna</option>
                                <option label="Panjim" value="Panjim">Panjim</option>
                                <option label="Pondicherry" value="Pondicherry">Pondicherry</option>
                                <option label="Pune" value="Pune">Pune</option>
                                <option label="Raipur" value="Raipur">Raipur</option>
</select>


<br>
<br>
&nbsp;

<input type="Submit" name="submit" value="Apply Now"  >
&nbsp;
&nbsp;
<input type="reset" name="reset"  value="clear" >
<br>
<p>*Reply to your form will be sent within 2 business days.</p>
</form> -->
</center>

</div>

</div>
<br>
<br>
<br>
<center>

<iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d60254.49319723599!2d73.0598964!3d19.2864612!3m2!1i1024!2i768!4f13.1!2m1!1sThe+scholars+English+bhiwandi!5e0!3m2!1sen!2sin!4v1521390424018" width="100%" height="400" frameborder="3px" style="border:2" allowfullscreen class="map" scrolling="no" ></iframe>







</center>











<footer>
<center>
&copy;2017-2020 The Scholars English Junior College
<br>
<br>
<a href="https://www.digicard.gq" style="color:aliceblue">Creacted and managed by Nakul Jhunjhunwala</a></center>
</center>


<center>
<div>
<a href="#" ><img src="social1.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social2.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social3.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social4.jpg" height="30px" width="30px" ></a>
</div>
</center>


</footer>

</div>
</body>
</body>
</html>