<html>
<head>
<title>
The Scholars English junior college
</title>
<style type="text/css">

body{
background-repeat:no-repeat;
margin:auto;
background-size:100%;
}




.login {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
opacity:;
height:0px;
width:100%;
transition:All 2s ease-in-out;
visibility:hidden;
overflow:hidden;
}

.login div{
float:left;
}


.btn {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-top:;
margin-left:700px;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
visibility: hidden;
}

.loginbtn {
text-decoration:none;
color:darkgrey;
}

.logintext {
background-color:;
height:260px;
width:30%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.text {
margin-left:25px;
margin-bottom:35px;
}


.loginform {
background-color:;
height:260px;
width:60%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.loginform div {

float:left;

}

.teacher {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:10px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.student {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:15px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.logform {
margin-left:70px;
margin-top:30px;
}

.logformimg {
margin-left:70px;
margin-top:30px;
}


.logform1 {
margin-left:20px;
margin-top:10px;
}

.logform2{
margin-left:20px;
margin-top:10px;

}
#normal {

background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-left:800px;
margin-top:50px;
color:darkgrey;

}

#other {

transition:All 2s ease-in-out;



}
/*here the login code finish*/

/*Here's the college name starts*/

.men {

background-color:rgb(128,0,0);
height:50px;
width:100%;
margin-top:-20px;
opacity:;
}

.men div{

float:left;


}

.icon {
background-color:rgb(128,0,0);
color:rgb(255,255,255);
height:;
width:100%;
font-size:25px;
margin-top:40px;
text-align:center;
}


#menu {
    top: ;
    left: 0px;
background-color:rgb(128,0,0);
position:relative;
height:60px;
width:100%;
margin-top:px;
}




#menubar li {
list-style:none;
float:left;
padding:15px;
width:150px;
}

#menubar li a {
text-decoration:none;
color:rgb(255,255,255);

}

.icon {
font-size:30px;
margin-top:px;
text-align:center;
}


.clgicon {
height: 80px;
width: 80px;
margin-top:-64px;
margin-left:150px;

}


.iconcolor {
height: 20px;
width: 100%;
background-color:rgb(128,0,0);
border:0px;
border-color:rgb(128,0,0);

}

/*Here menu overs*/





footer img{
margin-top:15px;
padding:10px;



}


.topimage {
height:300px;
margin-left:260px;
}


.acm {
height:200px;
width:60%;
margin-bottom:;
margin-top:30px;
margin-left:260px;
}


.aci {
float:left;
height:200px;
}

.aci img{

height:110px;
margin-right:30px;
}


.act {

color:rgb(54,54,54);
}

.act p{
font-size:17px;
font-family:serif;
}


.act h2{
color:rgb(177,150,111);
}


.arm {
height:200px;
width:60%;
margin-bottom:;
margin-top:30px;
margin-left:260px;
}


.ari {
float:left;
height:200px;
}

.ari img{

height:110px;
margin-right:30px;
}


.art {

color:rgb(54,54,54);
}

.art p{
font-size:17px;
font-family:serif;
}


.art h2{
color:rgb(177,150,111);
}





.cam {
height:200px;
width:60%;
margin-bottom:;
margin-top:30px;
margin-left:260px;
}


.cai {
float:left;
height:200px;
}

.cai img{

height:110px;
margin-right:30px;
}


.cat {

color:rgb(54,54,54);
}

.cat p{
font-size:17px;
font-family:serif;
}


.cat h2{
color:rgb(177,150,111);
}









footer {
color:rgb(255,255,255);
background-color:rgb(54,54,54);
height:100px;
width:100%;
margin-top:200px;
}

</style>
</head>
<body >

<script type="text/javascript">

var bleep=new Audio();

bleep.src="md.mp3";

var ar=new Audio();

ar.src="ar.mp3";


var ca=new Audio();

ca.src="ca.mp3";

var gc=new Audio();

gc.src="gc.mp3";


var rl=new Audio();

rl.src="rl.mp3";

var sic=new Audio();

sic.src="sic.mp3";


var spl=new Audio();

spl.src="spl.mp3";

var stg=new Audio();

stg.src="stg.mp3";

var so=new Audio();

so.src="so.mp3";

var ac=new Audio();

ac.src="ac.mp3";

 function login(){
 
   document.getElementById("login").style.height="300px";
   document.getElementById("login").style.visibility="visible";
   document.getElementById("btn").style.visibility="hidden";
   document.getElementById("other").style.marginTop="300px"
}

function goup(){

document.getElementById("login").style.height="0px";
document.getElementById("login").style.visibility="hidden";
document.getElementById("btn").style.visibility="visible";
   document.getElementById("other").style.marginTop="0px"
}
</script>


<div class="login" id="login" >

<div class="logintext" id="logintext" >
<font color="darkgrey" size="+1" >
<p class="text" id="text" >
    We will update the information soon....
</p>



</font></center>

</div>

<div class="loginform" id="loginform" >

<div class="teacher" id="teacher" >

<img src="login.png" class="logform" id="logform" height="50px" width="50px">
<form type="get" class="logform1" id="logform1" >

<input type="text" name="t1"  placeholder="Enter teacher username" >
<input type="password" name="p1" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c1" ><font color="darkgrey" >remember me</font>
<br>
<input type="submit" >

</form>
</div>

<div class="student" id="student" >

<img src="login.png" class="logformimg" id="logformimg" height="50px" width="50px">

<form type="get" class="logform2" id="logform2" >

<input type="text" name="t2"  placeholder="Enter student username" >
<input type="password" name="p2" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c2" ><font color="darkgrey">remember me</font>
<br>
<input type="submit" >

</form>

</div>




</div>



<span onclick="goup()" id="normal" onmousedown="bleep.play()" > click for hide</span>
</div>

<br>
<div class="btn" id="btn" >
<center><a href="#" onclick="login()" class="loginbtn" id="loginbtn" onmousedown="bleep.play()"><b><i>Click for Login</i></b></a></center>

</div>

<div id="other" >


<div class="men" id="men" >

<div class="icon" id="icon" >


The Scholars English Junior College

</div>

<div class="iconcolor" >
            <img src="logo.png" class="clgicon">
</div>


<div class="menuba" id="menuba" >

</div>


<div id="menu" >
        <ol id="menubar" >
            <li><a href="/" onmousedown="bleep.play()">Home</a></li>
            <li><a href="/teachers" onmousedown="bleep.play()">Teachers</a> </li>
            <li><a href="/involved" onmousedown="bleep.play()">Get Involved</a></li>
            <li><a href="/activities" onmousedown="bleep.play()">Activities</a> </li>
            <li><a href="/contact" onmousedown="bleep.play()">Contact.Us</a> </li>
        </ol>
       </div>

</div>




<center><h1 style="color:rgb(54,54,54); text-decoration:underline;" >Get Involved</h1></center>

<img src="up.jpg" class="topimage" >





<div class="acm" >

<div class="aci" >
<img src="ac.jpg" >
</div>

<div class="act" onclick="ac.play()">

<h2>Arts & Culture</h2>
<p>Enrich your university experience by engaging in the arts and exploring cultural opportunities on campus and in the surrounding community. Cultural programming, music, theater, museums – it is all here.</p>
</div>




</div>









<div class="arm" >

<div class="ari" >
<img src="ar.jpg" >
</div>

<div class="art" onclick="ar.play()">

<h2>Athletics and Recreation</h2>
<p>As a Maroon, you have access to an impressive array of sports and fitness facilities, programs and services through Athletics & Recreation. Join intramural teams, club sports, classes, and fitness programs, and find out when and where you can access facilities.</p>
</div>




</div>




<div class="cam" >

<div class="cai" >
<img src="ca.jpg" >
</div>

<div class="cat" onclick="ca.play()">

<h2>Committees and Advisory Boards</h2>
<p>Make a difference on campus and practice valuable teamwork and leadership skills at the same time. Student Government (SG), academic areas, and University administrative offices have many committees and advisory boards</p>
</div>




</div>






<div class="arm" >

<div class="ari" >
<img src="gc.jpg" >
</div>

<div class="art" onclick="gc.play()">

<h2>Global Community</h2>
<p>Whether you are on campus or studying abroad, you are part of a global community. A variety of University of Chicago programs and opportunities deepen how you experience the world and benefit from our diverse and multicultural society.</p>
</div>




</div>






<div class="cam" >

<div class="cai" >
<img src="rl.jpg" >
</div>

<div class="cat" onclick="rl.play()">

<h2>Residence Life</h2>
<p>Connect with fellow students where you live, dine, study and relax. College, graduate and international students develop relationships and enjoy a rich assortment of residential programming and resources via College Housing. Through UChicago Dining, all students can share meals with friends</p>
</div>




</div>







<div class="arm" >

<div class="ari" >
<img src="sic.jpg" >
</div>

<div class="art" onclick="sic.play()">

<h2>Service in Community</h2>
<p>Deepen your university experience by engaging with others in the City of Chicago. Through the University Community Service Center (UCSC), civic-minded students can find many meaningful ways to get involved with community service organizations, internships, and leadership programs.</p>
</div>




</div>





<div class="cam" >

<div class="cai" >
<img src="spl.jpg" >
</div>

<div class="cat" onclick="spl.play()">

<h2>Spiritual Life</h2>
<p>Pursue your spiritual practice or connect with religious advisors from the world’s many traditions here at the University of Chicago. The Spiritual Life Office offers a rich variety of programming connected to spirituality and religion in today's world and supports numerous student religious and spiritual organizations.</p>
</div>




</div>







<div class="arm" >

<div class="ari" >
<img src="stg.jpg" >
</div>

<div class="art" onclick="stg.play()">

<h2>Student Government</h2>
<p>At the University of Chicago, your voice matters. Elected student leadership regularly provides insight and articulates student concerns to the administration. Become a leader in Student Government, help the University make more informed decisions, and strengthen our campus community.</p>
</div>




</div>






<div class="cam" >

<div class="cai" >
<img src="so.jpg" >
</div>

<div class="cat" onclick="so.play()">

<h2>Student Organizations</h2>
<p>Meet people who share your interests or explore new interests and activities. The Center for Leadership and Involvement  connects you with hundreds of existing Registered Student Organizations (RSO) and can help you begin new ones.</p>
</div>




</div>









<footer>
<center>
    &copy;2017-2020 The Scholars English Junior College
    <br>
    <br>
    <a href="https://www.digicard.gq" style="color:aliceblue">Creacted and managed by Nakul Jhunjhunwala</a></center>

<center>
<div>
<a href="#" ><img src="social1.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social2.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social3.jpg" height="30px" width="30px" ></a>
<a href="#" ><img src="social4.jpg" height="30px" width="30px" ></a>
</div>
</center>


</footer>

</div>
</body>
</body>
</html>