<html>
<head>
<title>
The Scholars Junior College of Commerce & Science
</title>
<style type="text/css">

body{
background-repeat:no-repeat;
margin:auto;
background-size:100%;
}




.login {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
opacity:;
height:0px;
width:100%;
transition:All 2s ease-in-out;
visibility:hidden;
overflow:hidden;
}

.login div{
float:left;
}


.btn {
position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-top:;
margin-left:700px;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
visibility: hidden;
}

.loginbtn {
text-decoration:none;
color:darkgrey;

}

.logintext {
background-color:;
height:260px;
width:30%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.text {
margin-left:25px;
margin-bottom:35px;
}


.loginform {
background-color:;
height:260px;
width:60%;
border-radius:30px;
margin-top:10px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:30px;
border-style:groove;
border-color:white;
overflow:hidden;
}

.loginform div {

float:left;

}

.teacher {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:10px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.student {
background-color:;
height:220px;
width:45%;
border-radius:30px;
transition:height 1s ease-in-out;
transition-delay:1s;
margin-left:15px;
margin-top:10px;
border-style:groove;
border-color:white;
}

.logform {
margin-left:70px;
margin-top:30px;
}

.logformimg {
margin-left:70px;
margin-top:30px;
}


.logform1 {
margin-left:20px;
margin-top:10px;
}

.logform2{
margin-left:20px;
margin-top:10px;

}
#normal {

background-color:rgb(74,81,85);
height:25px;
width:200px;
margin-left:800px;
margin-top:50px;
color:darkgrey;

}

#other {

transition:All 2s ease-in-out;



}
/*here the login code finish*/

/*Here's the college name starts*/

.men {

background-color:rgb(128,0,0);
height:50px;
width:100%;
margin-top:-20px;
opacity:;
}

.men div{

float:left;


}

.icon {
background-color:rgb(128,0,0);
color:rgb(255,255,255);
height:;
width:100%;
font-size:25px;
margin-top:40px;
text-align:center;
}


#menu {
    top: ;
    left: 0px;
background-color:rgb(128,0,0);
position:relative;
height:60px;
width:100%;
margin-top:px;
}




#menubar li {
list-style:none;
float:left;
padding:15px;
width:150px;
text-align: center;
}

#menubar li a {
text-decoration:none;
color:rgb(255,255,255);
}

.icon {
font-size:30px;
margin-top:px;
text-align:center;
}


.clgicon {
height: 80px;
width: 80px;
margin-top:-64px;
margin-left:150px;

}


.iconcolor {
height: 20px;
width: 100%;
background-color:rgb(128,0,0);
border:0px;
border-color:rgb(128,0,0);

}
/*Here menu overs*/

/*Here slider begins*/





.outerslider {
top:0px;
height:410px;
width:100%;
overflow:hidden;

}

.innerslider {
position:relative;
height:410px;
width:400%;
overflow:hidden;
animation-name:nakul;
animation-duration:20s;
-webkit-animation-name:nakul;
-webkit-animation-duration:20s;
-webkit-animation-iteration-count:infinite;

}

.innerslider img {
height:410px;
width:25%;
float:left;
}

@-webkit-keyframes nakul{
 0%{
 left:0px;
 }
 20%{
  left:0px;
 }
  25%{
   left:-100%;
  }
  45%{
    left:-100%;
  }
  50%{
      left:-200%;
  }
  70%{
      left:-200%;
  
  }
  75%{
      left:-300%;
  }
  95%{
      left:-300%;
  }
  100%{
  
      left:-400%;
  }
  
  
}

/*Here the slider endes*/

/*Here the main body starts*/

#news {

margin-top:45px;
color:grey;
font-family:cursive;

}

#news h1  {

font-size:40px;
margin-bottom: 50px;
}

#news video{

height:150px;
width:270px;
float:left;
}

#news img{

height:150px;
width:270px;
float:left;
margin-left: auto;
margin-right: auto;
}

#news div {
float:left;
padding:27px;
}


.news {
height:180px;
width:270px;
margin-top:-50px;
font-size:20px;
margin-left: 40px;
}

.news1 {
height:180px;
width:270px;
margin-top:-50px;
font-size:20px;
}

.news2 {
height:180px;
width:270px;
margin-top:-50px;
font-size:20px;
}


/*Here special video begins for college*/

.special {
background-color:rgb(54,54,54);
height:350px;
width:100%;
margin-top:400px;
color:rgb(255,255,255);
}

.special div {

float:left;

}


.specialvid {

height:280px;
width:500px;
}

.specialvid video{
height:280px;
width:500px;
margin-top:35px;
margin-left:25px;

}

.specialtext {
margin-left:55px;
margin-top:35px;
}

.specialtext h1 {
font-size:30px;

}

.specialtext p {
font-size:20px;

}





footer img{
margin-top:15px;
padding:10px;



}



footer {
color:rgb(255,255,255);
background-color:rgb(54,54,54);
height:100px;
width:100%;
margin-top:200px;
}

</style>
</head>
<body>

<script type="text/javascript">

var bleep=new Audio();

bleep.src="md.mp3";

var exsc=new Audio();

exsc.src="exsc.mp3";

 function login(){
 
   document.getElementById("login").style.height="300px";
   document.getElementById("login").style.visibility="visible";
   document.getElementById("btn").style.visibility="hidden";
   document.getElementById("other").style.marginTop="300px"
}

function goup(){

document.getElementById("login").style.height="0px";
document.getElementById("login").style.visibility="hidden";
document.getElementById("btn").style.visibility="visible";
   document.getElementById("other").style.marginTop="0px"
}
</script>


<div class="login" id="login" >

<div class="logintext" id="logintext" >
<font color="darkgrey" size="+1" >
<p class="text" id="text" >
    We will update the information soon....
</p>



</font></center>

</div>

<div class="loginform" id="loginform" >

<div class="teacher" id="teacher" >

<img src="login.png" class="logform" id="logform" height="50px" width="50px">
<form type="get" class="logform1" id="logform1" >

<input type="text" name="t1"  placeholder="Enter teacher username" >
<input type="password" name="p1" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c1" ><font color="darkgrey" >remember me</font>
<br>
<input type="submit" >

</form>
</div>

<div class="student" id="student" >

<img src="login.png" class="logformimg" id="logformimg" height="50px" width="50px">

<form type="get" class="logform2" id="logform2" >

<input type="text" name="t2"  placeholder="Enter student username" >
<input type="password" name="p2" placeholder="Enter your password" >
<br>
<input type="checkbox" name="c2" ><font color="darkgrey">remember me</font>
<br>
<input type="submit" >

</form>

</div>




</div>



<span onclick="goup()" onmousedown="bleep.play()" id="normal" > click for hide</span>
</div>

<br>
<div class="btn" id="btn" >
<center><a href="#" onclick="login()" class="loginbtn" id="loginbtn" onmousedown="bleep.play()"><b><i>Click for Login</i></b></a></center>

</div>

<div id="other" >


<div class="men" id="men" >

<div class="icon" id="icon" >


The Scholars Junior College of Commerce & Science

</div>

<div class="iconcolor" >
          <img src="logo.png" class="clgicon">
</div>


<div class="menuba" id="menuba" >

</div>



<div id="menu" >
 <ol id="menubar" >
            <li><a href="/" onmousedown="bleep.play()">Home</a></li>
            <li><a href="/activities" onmousedown="bleep.play()">Activities</a> </li>
           <li><a href="/commerce" onmousedown="bleep.play()">Commerce Admission Form</a> </li>
            <li><a href="/science" onmousedown="bleep.play()"> Science Admission Form</a> </li>  
            <li><a href="/contact" onmousedown="bleep.play()">Contact Us</a> </li>
        </ol>
       
</div>

</div>

<div class="outerslider" >
<div class="innerslider" >
<img src="s1.jpg" >
<img src="s2.png" >
<img src="s3.png" >
<img src="cs.png" >
</div>
</div>

<!--Here main body starts-->
<center>
<div id="news" >

<h1>Scholars news</h1>

<div class="news" >
<video src="news.mp4" controls="seeking" autostart="false" controls="play/pause" controls="volume" ></video>
We have unity among ourself
</div>
<!--
<div class="news1" >
<img src="news1.jpeg" >
Spirit week begins together community to celebrate religious traditions
</div>
-->
<div class="news2" >
<img src="news2.jpg" >
Classic scholars discusses new Humanity core sequence
</div>

</div>
</center>


<!-- Here scholars specialty starts-->

<div class="special" >

<div class="specialvid" >

<video src="specialvid.mp4" controls="seeking" autostart="false" controls="play/pause" controls="volume" ></video>

</div>



<div class="specialtext" onclick="exsc.play()" >

<h1>Explore Scholars</h1>
<p>

Discover the best college "Scholars" <br>which calls and <br>contain home filled with <br>inspiration, innovation, and <br>countless opportunities to explore.

</p>

</div>

</div>



<footer>
<center>
    &copy;The Scholars Junior College of Commerce & Science
    <br>
    <br>
    

</footer>

</div>
</body>
</body>
</html>
