<html>
<head>
<title>
top page
</title>
</head>
<body bgcolor=#B22222 text=white>
<h1 align=center>THE SCHOLARS ENGLISH HIGH SCHOOL AND JUNIOR COLLEGE OF COMMERCE AND SCIENCE</h1>
<h3 align=center>Narpoli,bhiwandi.</h3>
</body>
</html>
